<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>
<main>
    <h1 class="text-center text-white">Login</h1>
    <hr class="hr-2 bg-dark w-25">
    <form class="form w-25 mx-auto" th:method="post" th:action="@{/users/login}" ><input type="hidden">
        <div class="form-group">
            <label for="username" class="text-white d-flex justify-content-center">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username..." name="username">
        </div>
        <div class="form-group">
            <label for="password" class="text-white d-flex justify-content-center">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password..." name="password">
        </div>
        <hr class="hr-2 bg-dark">
        <div class="button-holder d-flex justify-content-center">
            <button class="btn btn-info text-white mb-3" type="submit">Login</button>
        </div>
    </form>
    <th:block th:if="${param.error}">
        <div class="text-center"  style="color: red" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">
<!--            Bad Credentials-->
        </div>
    </th:block>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>