<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>

<main class="mt-5">
    <div class="bg-image-quote-create" >
        <span style="visibility: hidden">....</span>
        <h1 class="text-center font-weight-bold text-white">Profile</h1>
        <hr class="hr-2 w-25 bg-dark">
        <div class="row">
            <div class="col col-md-12 text-center text-white" >
                <h1 th:utext="${model.username}"></h1>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-12 text-center text-white">
                <h4 th:utext="${model.email}"></h4>
            </div>
        </div>
        <hr class="hr-2 w-25 bg-dark">
        <div class="button-holder d-flex justify-content-center">
            <a th:href="@{/users/edit-profile}" class="btn btn-dark">Edit Profile</a>
        </div>
        <hr class="hr-2 w-25 bg-dark">

    </div>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>